@import 'src/styles/abstracts/functions';

#SynchronizationConfiguration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    > * {
        max-width: 600px;
        width: 100%;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        
        button {
            margin-right: 10px;
        }

        h3 {
            color: primary(400);
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        > * {
            width: 100%;
        }

        :not(:first-child) {
            margin-top: 20px;
        }

        button .label {
            display: flex;
            flex-direction: row;
            align-items: center;

            :first-child {
                margin-right: 5px;
            }
        }
    }
}
