<div id="SynchronizationConfiguration">
    <div class="header">
        <button mat-stroked-button color="primary" (click)="goBack()">
            Atrás
        </button>
        <h3>Configurar sincronización</h3>
    </div>
    <form [formGroup]="formDescriptor.form">
        <mat-checkbox formControlName="enabled" color="primary">
            {{ formDescriptor.getLabel('enabled') }}
        </mat-checkbox>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('days') }}</mat-label>
            <mat-select formControlName="days" multiple>
                <mat-option (onSelectionChange)="allDays($event)" [value]="-1">
                    Todos
                </mat-option>
                <mat-option *ngFor="let day of days" [value]="day.id">
                    {{ day.description }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('hours') }}</mat-label>
            <mat-select formControlName="hours" multiple>
                <mat-option (onSelectionChange)="allHours($event)" [value]="-1">
                    Todas
                </mat-option>
                <mat-option *ngFor="let hour of hours" [value]="hour.id">
                    {{hour.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('timezone') }}</mat-label>
            <input type="text"
                matInput
                formControlName="timezone"
                [matAutocomplete]="timeZoneAuto">
            <mat-autocomplete #timeZoneAuto="matAutocomplete">
                <mat-option *ngFor="let tz of filteredTimezones" [value]="tz">
                    {{ tz }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="save()">
            <span class="label"><mat-icon>save</mat-icon> Guardar</span>
        </button>
    </form>
</div>
