#AppComponent {
    .title {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .alarm {
        background-color: #fff;
        border-radius: 30px;
        padding: 10px;
    }
}
