<div id="AppComponent">
    <mat-toolbar class="title" color="primary">
        <h2>Lista de precios</h2>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" [ngClass]="{ alarm: synchronizationsAlarm }">
                <ngContainer *ngIf="!synchronizationsAlarm">
                    <mat-icon>menu</mat-icon>
                </ngContainer>
                <ngContainer *ngIf="synchronizationsAlarm">
                    <mat-icon color="warn">
                        notification_important
                    </mat-icon>
                </ngContainer>
            </button>
        </div>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
    
    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/">Productos</a>
        <a mat-menu-item routerLink="/categories">Categorías</a>
        <a mat-menu-item routerLink="/providers">Proveedores</a>
        <a mat-menu-item routerLink="/synchronizations">
            <mat-icon *ngIf="synchronizationsAlarm" color="warn">
                error
            </mat-icon>
            Sincronizaciones
        </a>
    </mat-menu>
</div>
