@import 'src/styles/themes/theme';

#ProviderDetail {
    display: flex;
    flex-direction: column;
    padding: 15px;

    > :not(:first-child) {
        margin-top: 15px;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;
        color: mat-color($Client-primary, 500);

        > h3 {
            margin: 0px;
        }
    }

    .form-body {
        display: flex;
        flex-direction: column;
        overflow: auto;

        > * {
            margin-top: 10px;
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            width: 120px;
        }
    }
}
