<form id="ProviderDetail" [formGroup]="formDescriptor.form">
    <div class="header">
        <h3>{{ title }}</h3>
        <button mat-icon-button (click)="cancel()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div class="form-body">
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('name') }}</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('pricesHost') }}</mat-label>
            <input matInput formControlName="pricesHost" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('profitMargin') }}</mat-label>
            <input matInput formControlName="profitMargin" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('taxes') }}</mat-label>
            <input matInput formControlName="taxes" />
        </mat-form-field>
    </div>
    <div class="actions">
        <button mat-flat-button color="primary" (click)="save()">
            <mat-icon>save</mat-icon>
            Guardar
        </button>
    </div>
</form>
