@import '@angular/material/theming';

@include mat-core();

$Client-primary: mat-palette($mat-blue-gray);
$Client-accent: mat-palette($mat-orange);
$Client-warn: mat-palette($mat-red);

$Client-theme: mat-light-theme((
  color: (
    primary: $Client-primary,
    accent: $Client-accent,
    warn: $Client-warn,
  )
));

@include angular-material-theme($Client-theme);
