@import "src/styles/themes/theme";

#Scanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .error {
        color: mat-color($Client-warn, 500);
    }

    mat-form-field {
        margin-top: 5px;
    }
}
