<div id="Scanner">
    <mat-form-field class="full-width" *ngIf="hasInput">
        <mat-label>Código</mat-label>
        <input matInput [formControl]="inputControl" />
    </mat-form-field>
    <ng-container *ngIf="displayScanner">
        <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
        <mat-form-field class="full-width">
            <mat-select (selectionChange)="deviceChanged($event)" [value]="currentDevice">
                <mat-option *ngFor="let device of devices; let i = index" [value]="device">
                    Cámara {{ i + 1 }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <p *ngIf="message" [class]="message.type">{{ message.value }}</p>
    <button mat-raised-button *ngIf="hasInput" (click)="close()">
        Ok
    </button>
</div>

