@import 'src/styles/abstracts/functions';

.list-controls-top {
    position: sticky;
    top: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include respond-to('large') {
        display: none !important;
    }
}

.list-controls-right {
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: 300px;

    > :not(:last-child) {
        margin-bottom: 15px;
    }

    @include respond-to('large') {
        display: flex !important;
    }

    .rows-selected {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
