#ProviderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;

    > .responsive {
        display: flex;
        flex-direction: column;
        
        > * {
            width: 100%;
        }
    }

    .actions {
        padding: 0 5px;
        button {
            max-width: 150px;
            width: 100%;
        }
    }
}
