<div id="ProviderList">
    <div class="responsive">
        <div class="actions">
            <button mat-raised-button color="primary" (click)="create()">
                <mat-icon>add</mat-icon>Agregar
            </button>
        </div>
        <app-generic-table
            [dataSource]="providers"
            [columns]="columns"
            [displayedColumns]="displayedColumns"
            [actions]="actions">
        </app-generic-table>
    </div>
</div>
