
<div id="GenericTable">
    <table mat-table [dataSource]="dataSource" class="full-width"
           matSort matSortDisableClear="true"
           [matSortDirection]="dataSource?.filter?.ascending ? 'asc' : 'desc'"
           [matSortActive]="dataSource?.filter?.column">
    
        <ng-container matColumnDef="selection">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
                <mat-checkbox
                    [checked]="rowIsSelected(row)"
                    (change)="onRowSelected(row)"
                    color="primary">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="! column.sorts"> {{ column.header }} </th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="column.value">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        {{ column.value(row) }}
                    </div>
                </ng-container>
                <ng-container *ngIf="column.reference">
                    <ng-container *ngTemplateOutlet="column.reference; context: { row: row }"></ng-container>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
                <button
                    mat-icon-button
                    #menuTrigger="matMenuTrigger"
                    color="primary"
                    [matMenuTriggerFor]="menu"
                    [matMenuTriggerData]="{ item: row }"
                    [disabled]="!hasEnabledActions(row)">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="rowsProperties ? rowsProperties(row).classes : ''"
            (click)="onRowClick(row)"></tr>
    </table>

    <div class="mobile-list">
        <div *ngFor="let row of dataSource?.connect(undefined) | async"
             [ngClass]="rowsProperties ? rowsProperties(row).classes : ''"
             (click)="onRowClick(row)">
             <div *ngIf="showSelection" class="selection" (click)="$event.stopPropagation()">
                <mat-checkbox
                    [checked]="rowIsSelected(row)"
                    (change)="onRowSelected(row)"
                    color="primary">
                </mat-checkbox>
            </div>
            <div class="data">
                <p *ngFor="let column of mobileColumns; let index as i">
                    <ng-container *ngIf="column.value">
                        {{ column.header }}: {{ column.value(row) }}
                    </ng-container>
                    <ng-container *ngIf="column.reference">
                        <ng-container *ngTemplateOutlet="column.reference; context: { row: row }"></ng-container>
                    </ng-container>
                </p>
            </div>
            <div *ngIf="showActions" class="actions" (click)="$event.stopPropagation()">
                <button
                    mat-icon-button
                    #menuTrigger="matMenuTrigger"
                    color="primary"
                    [matMenuTriggerFor]="menu"
                    [matMenuTriggerData]="{ item: row }"
                    [disabled]="!hasEnabledActions(row)">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </div>
    </div>
    
    <div class="page-control" *ngIf="dataSource?.hasMore">
        <button mat-button color="primary" (click)="dataSource.next()">
            <mat-icon>expand_more</mat-icon> Más
        </button>
    </div>
    
    <mat-menu #menu="matMenu">
        <ng-template let-item="item" matMenuContent>
            <ng-container *ngFor="let action of actions">
                <button *ngIf="action.active(item)" (click)="action.action(item)" mat-menu-item>
                    <mat-icon *ngIf="action.icon" [color]="action.color">{{ action.icon }}</mat-icon>{{ action.name }}
                </button>
            </ng-container>
            <ng-container *ngIf="hasGroupActions(item)">
                <div *ngFor="let action of groupActions" class="group-actions">
                    <button
                        *ngIf="groupActionEnabled(action)"
                        (click)="groupActionTrigger(action)"
                        mat-menu-item
                    >
                        <mat-icon *ngIf="action.icon" [color]="action.color">{{ action.icon }}</mat-icon>{{ action.name }}
                    </button>
                </div>
            </ng-container>
        </ng-template>
    </mat-menu>
</div>

