@import 'src/styles/themes/theme';

#GenericTable {
    .mobile-list {
        > div {
            padding: 10px;
            border-bottom: 1px solid #777;
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .data {
            width: 100%;
        }

        .selection {
            border-right: 1px solid #ccc;
            margin-right: 5px;
            display: flex;
            align-items: center;
            width: 41px;
        }

        .actions {
            border-left: 1px solid #ccc;
            margin-left: 5px;
            display: flex;
            align-items: center;
            width: 48px;
        }

        p {
            margin: 5px 0px;
            font-size: 0.9em;
            line-break: anywhere;
        }

        p:first-of-type {
            font-weight: 600;
        }
    }

    .page-control {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        padding: 10px 0;
    }

    @media (max-width: 991px) {
        table {
            display: none;
        }
        .mobile-list {
            display: block;
        }
    }

    @media (min-width: 992px) {
        table {
            display: table;
        }
        .mobile-list {
            display: none;
        }
    }

    tr:hover td {
        background-color: mat-color($Client-primary, 100) !important;
    }
}

div.group-actions:first-of-type {
    border-top: 1px solid #bbb;
}
