@import 'src/styles/abstracts/functions';

#ExpandableList {
    display: flex;
    flex-direction: column;

    > h4 {
        color: primary(800);
    }

    > span {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 0.9rem;
        color: #555;
        cursor: pointer;
    }

    > a {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }
}
