<div id="ExpandableList">
    <h4>{{ title }}</h4>
    <span *ngFor="let value of displayedValues" (click)="onValueSelected(value)">
        {{ value.display() }}
    </span>
    <a (click)="expand()" *ngIf="expandable">
        <ng-container *ngIf="!expanded">Más <mat-icon>expand_more</mat-icon></ng-container>
        <ng-container *ngIf="expanded">Menos <mat-icon>expand_less</mat-icon></ng-container>
    </a>
</div>
