
<form id="ProductForm" [formGroup]="formDescriptor.form">

    <div class="header">
        <button mat-stroked-button (click)="cancel()" color="primary">
            Atrás
        </button>
        <h3>{{ isNew ? "Nuevo" : "Editar" }} producto {{ productId }}</h3>
    </div>

    <div class="form-body">
        <div class="double">
            <mat-form-field class="full-width">
                <mat-label>{{ formDescriptor.getLabel('code') }}</mat-label>
                <input matInput formControlName="code" />
                <button matSuffix mat-icon-button color="primary" (click)="scan()">
                    <mat-icon>qr_code_scanner</mat-icon>
                </button>
            </mat-form-field>
            <mat-checkbox formControlName="frequent" color="primary">
                Frecuente
            </mat-checkbox>
        </div>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('description') }}</mat-label>
            <input matInput formControlName="description" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('category') }}</mat-label>
            <mat-select formControlName="category">
                <mat-option [value]="undefined"></mat-option>
                <mat-option *ngFor="let category of categories" [value]="category">
                    {{ category.description }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('provider') }}</mat-label>
            <mat-select formControlName="provider">
                <mat-option [value]="undefined"></mat-option>
                <mat-option *ngFor="let provider of providers" [value]="provider">
                    {{ provider.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('providerReference') }}</mat-label>
            <input matInput formControlName="providerReference" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>{{ formDescriptor.getLabel('units') }}</mat-label>
            <input matInput formControlName="units" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>{{ formDescriptor.getLabel('price') }}</mat-label>
            <input matInput formControlName="price" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>{{ formDescriptor.getLabel('taxedPrice') }}</mat-label>
            <input matInput formControlName="taxedPrice" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>{{ formDescriptor.getLabel('sellingPrice') }}</mat-label>
            <input matInput formControlName="sellingPrice" />
        </mat-form-field>
    </div>

    <div class="actions">
        <button mat-flat-button color="primary" (click)="save()">
            <mat-icon>save</mat-icon>
            Guardar
        </button>
    </div>

</form>
