@import 'src/styles/abstracts/functions';

#ProductForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px;

    > * {
        max-width: 768px;
        width: 100%;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
        
        button {
            margin-right: 10px;
        }

        h3 {
            color: primary(400);
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
    
        button {
            width: 220px;
        }
    }

    .form-body {
        display: flex;
        flex-direction: column;
        overflow: auto;
    
        > * {
            margin-bottom: 10px;
            width: 100%;
        }
    
        > .double {
            display: flex;
            flex-direction: row;
            align-items: center;
            :first-child {
                margin-right: 10px;
            }
        }
    }
}
