@import 'src/styles/themes/theme';
@import 'src/styles/abstracts/functions';

#ProductList {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: calc(100vh - 70px);

    > .drawer {
        width: 250px;
        padding: 10px;
        
        mat-form-field {
            width: 100%;
        }

        mat-form-field:not(:last-of-type) {
            margin-bottom: 10px;
        }

        .chips {
            margin-top: 20px;

            mat-chip-option {
                background-color: primary(200);
            }
        }

        .options-list {
            display: block;
            margin-top: 20px;
        }

        button {
            width: 100%;
        }
    }

    > .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filters {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 10px;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;

        > mat-form-field {
            width: 100%;
        }
        
        > button {
            margin: 0 7px;
        }
    }
}
