<mat-drawer-container id="ProductList" class="drawer-container" autosize>
    <mat-drawer
        #drawer
        class="drawer"
        [opened]="!hiddenDrawer"
        [mode]="hiddenDrawer ? 'over' : 'side'">
        <button mat-raised-button color="primary" (click)="create()">
            <mat-icon>add</mat-icon>Agregar
        </button>
        <mat-chip-listbox aria-label="Filters" class="chips" *ngIf="filters.length > 0">
            <mat-chip-option (selectionChange)="filterRemoved(filter.id)" *ngFor="let filter of filters">
                {{ filter.description }}: {{ filter.value }}
                <button matChipRemove [aria-label]="'Remove ' + filter.description" (click)="filterRemoved(filter.id)">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-option>
        </mat-chip-listbox>
        <app-expandable-list
            *ngIf="!categoryIsSelected"
            title="Categorías"
            [values]="categories"
            (selected)="categorySelected($event)"
            class="options-list" />
        <app-expandable-list
            *ngIf="!providerIsSelected"
            title="Proveedores"
            [values]="providers"
            (selected)="providerSelected($event)"
            class="options-list" />
    </mat-drawer>

    <mat-drawer-content class="content">
        <div [formGroup]="searchForm" class="filters responsive">
            <button mat-mini-fab color="primary" (click)="drawer.toggle()" *ngIf="hiddenDrawer" 
                [matBadge]="filtersCount"
                matBadgeColor="accent"
                [matBadgeHidden]="filtersCount < 1">
                <mat-icon>chevron_right</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="scan()">
                <mat-icon>qr_code_scanner</mat-icon>
            </button>
            <mat-form-field appearance="fill">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="description" />
                <button matSuffix mat-icon-button color="warn" (click)="clearSearch()">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <app-generic-table
            class="responsive"
            [dataSource]="products"
            [columns]="columns"
            [displayedColumns]="displayedColumns"
            [actions]="actions"
            [groupActions]="groupActions"
            [rowIdentifier]="rowIdentifier"
            [selectionClear]="selectionClearEmitter"
            (rowClick)="detail($event)">
        </app-generic-table>
    </mat-drawer-content>
</mat-drawer-container>
