@import "src/styles/themes/theme";

.full-width {
    width: 100%;
}

.responsive {
    width: 100%;
    max-width: 100%;
    
    @include respond-to('medium') {
        max-width: 600px;
    }

    @include respond-to('large') {
        max-width: 992px;
    }

    @include respond-to('huge') {
        max-width: 85%;
    }
}
