<div id="BatchUpdate">
    <div>
        <h3>Editar productos</h3>
        <button mat-icon-button (click)="cancel()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <form [formGroup]="formDescriptor.form">
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('basePriceIncrement') }}</mat-label>
            <input matInput formControlName="basePriceIncrement" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('taxedPriceIncrement') }}</mat-label>
            <input matInput formControlName="taxedPriceIncrement" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('sellingPriceIncrement') }}</mat-label>
            <input matInput formControlName="sellingPriceIncrement" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('categoryId') }}</mat-label>
            <mat-select formControlName="categoryId">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{ category.description }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ formDescriptor.getLabel('providerId') }}</mat-label>
            <mat-select formControlName="providerId">
                <mat-option *ngFor="let provider of providers" [value]="provider.id">
                    {{ provider.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div>
        <button mat-flat-button color="primary" (click)="save()">
            Guardar
        </button>
    </div>
</div>
