@import 'src/styles/themes/theme';

#BatchUpdate {
    display: flex;
    flex-direction: column;
    padding: 15px;

    > :first-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: mat-color($Client-primary, 500);
        font-size: 1.2em;
    }

    > :nth-child(2) {
        display: flex;
        flex-direction: column;

        > :not(:first-child) {
            margin-top: 10px;
        }
    }

    > :last-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;
    }
}
