<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
    {{ message }}
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="false">No</button>
    <button mat-button [mat-dialog-close]="true">Sí</button>
</mat-dialog-actions>