<div id="ProductDetail">
    <div class="header">
        <button mat-stroked-button color="primary" (click)="goBack()">
            Cerrar
        </button>
        <h3>Producto {{ productId }}</h3>
    </div>
    
    <div class="controls">
        <mat-form-field>
            <mat-label>Versión</mat-label>
            <mat-select [formControl]="form.get('versionA')">
                <mat-option *ngFor="let version of productVersions; index as i" [value]="i">
                    {{ versionTag(version) }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Comparar con</mat-label>
            <mat-select [formControl]="form.get('versionB')">
                <mat-option [value]="-1"></mat-option>
                <mat-option *ngFor="let version of productVersions; index as i" [value]="i">
                    {{ versionTag(version) }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="versions-compare">
        <div></div>
        <div *ngFor="let property of properties">
            <span class="tag">{{ property.tag }}</span>
            <ng-container *ngIf="property.changed">
                <span class="v1">{{ property.v1 }}</span>
                <span class="v2">{{ property.v2 }}</span>
            </ng-container>
            <ng-container *ngIf="!property.changed">
                <span>{{ property.v1 }}</span>
            </ng-container>
        </div>
    </div>
</div>