@import 'src/styles/abstracts/functions';

#ProductDetail {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field {
        font-size: 0.9em;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 15px 0;

        button {
            margin-right: 10px;
        }

        h3 {
            color: primary(400);
        }
    }
    
    > * {
        width: 96%;
    }

    .controls {
        display: flex;
        flex-direction: row;
        
        > * {
            width: 100%;
        }

        :not(:last-child) {
            margin-right: 5px;
        }
    }

    .versions-compare {
        display: flex;
        flex-direction: column;

        > div {
            display: flex;
            flex-direction: column;
            padding: 8px 0;
        }

        .tag {
            color: #777;
        }

        .v1 {
            color: #3a3;
        }

        .v2 {
            color: #e44;
        }
    }
}
