<div id="MessageDialog">
  <h2 mat-dialog-title>{{ title }}</h2>
  <mat-dialog-content>
    <ng-container *ngIf="message" [innerHtml]="message">
    </ng-container>
    <ul *ngIf="messages">
      <li *ngFor="let msg of messages" [innerHtml]="msg">
      </li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>
</div>