@import 'src/styles/abstracts/functions';

#SynchronizationList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

    .actions {
        padding: 0 5px;
        :not(:last-child) {
            margin-right: 5px;
        }
    }
}

.error-cell {
    color: warn(700);
}
