<div id="SynchronizationList">
    <div class="responsive">
        <div class="actions">
            <button mat-raised-button color="primary" (click)="sync()">
                <mat-icon>sync</mat-icon>
                Sincronizar
            </button>
            <button mat-raised-button color="primary" (click)="refresh()">
                <mat-icon>update</mat-icon>
                Actualizar
            </button>
            <button mat-raised-button color="primary" routerLink="/synchronizations/configure">
                <mat-icon>settings</mat-icon>
                Configurar
            </button>
        </div>
        <app-generic-table
            [dataSource]="synchronizations"
            [columns]="columns"
            [displayedColumns]="displayedColumns"
            [actions]="actions">
        </app-generic-table>
    </div>
</div>

<ng-template #ErrorsCell let-row="row">
    <span class="error-cell">
        {{ row.failed }}
    </span>
</ng-template>
